node_modules/
.DS_Store
npm-debug.log*
data/db.json
storage/temp/*
storage/categories/*
storage/extra-backgrounds/*
storage/general-non-collectables/*
!data/.gitkeep
!storage/.gitkeep
!storage/temp/.gitkeep
!storage/categories/.gitkeep
!storage/extra-backgrounds/.gitkeep
!storage/general-non-collectables/.gitkeep
__pycache__/
.env
venv/
*.pyc
